body {
    font-size: 32px;
    font-family: "Open Sans", sans-serif !important;
    background: #202A2C;
    color: rgb(197, 197, 139);
}

div.two-panels {
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.tree-panel {
    flex: 19vw;
    margin-left: 1vw;
    height: 100%;
    overflow: auto;
    border-right: 0px solid;

}

div.page-panel {
    flex: 90vw;
    margin: 0;
    padding: 0;
    font-size: 0;
}

div.page-panel iframe {
    width: 100%;
    border: 0px;
    margin-top: 0px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

div.page {
    padding: 30px;
}



/*******************************************************************************
 * TREE INDEX
 ******************************************************************************/

div.tree {
    font-size: 12px;
    background: #161d1f;
    color: green;
}


div.tree a, div.tree a:visited {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

div.tree ul {
    padding-inline-start: 0px;
    list-style-type: none;
    line-height: 0.15;
}

div.tree ul.outermost {
    padding-inline-start: 0;
}

div.tree li {
    padding-inline-start: 0;
}
div.tree li.leaf {
    padding-inline-start: 10px;
    line-height: 1.3;
}
.tree li a {
    width: 100%;
    display: inline-block;
}

.tree li:hover {
    background: darkgreen;
    color: white;
}
.tree li {
    white-space: nowrap;
}

div.tree a.show, div.tree a.hide { display: none; }

.hide {
    display: none;
}


/* HEADINGS */

div.page h1 {
    font-weight: bold;
    display: inline;
    color: lightgreen;
    font-size: 150%;
}

div.page h1.title {
    text-align: left;
    background: #161d1f;
    margin: 0 auto vh auto;
    width: 100%;
    display: inline-block;
}
